@font-face {
  font-family: 'Avalon';
  src: url('./Avalon-Book.otf');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Avalon';
  src: url('./Avalon-Demi.otf');
  font-weight: 600;
  font-style: normal
}

@font-face {
  font-family: 'Sephora Serif';
  src: url('./SephoraSerif-Book.otf');
  font-weight: 300;
  font-style: normal
}

body {
  padding-top: 5.438em;
}

h1 {
  font-size: 34px;
  font-weight: 300;
  line-height: 41px;
  font-family: "Sephora Serif";
  margin: 0px !important;
}

.tarte-box {
  height: 180px;
  width: 180px;
  opacity: 0.35;
  Margin-top: 51px;
}

h4 {
  font-family: 'Avalon';
  font-size: 16px;
  font-weight: bold;
  line-height: 16px;
}

h6 {
  font-family: 'Avalon';
  font-size: 13px;
  font-weight: 500;
  line-height: 16px;
  margin-bottom: 0px;
}

p {
  margin-bottom: 5px;
  color: #000000;
  font-family: Avalon;
  font-size: 13px;
  font-weight: 300;
}
/*.bodyContainer{
width: 1124.98px;
margin: 0 auto;
}*/
.bodyContainer .container{
  padding: 0px;
  max-width: 1124.9px;
}
.hero-Image {
  height: 400px;
  width: 1124.98px;
}

.hero-ImageContainer {
  /*height: 400px;*/
  width: 1124.98px;
  padding: 0px;
}

.footer-Container {
  height: 151px;
  width: 1124.98px;
  /*margin-left: 15px;*/
  /*background-image: url("./Assets/SEO_Text.png");
  background-repeat: no-repeat;
  background-position: center center;
  -webkit-background-size: contain;
  -moz-background-size: contain;
  -o-background-size: contain;
  background-size: contain;*/
}
.footer-Container   .container-fluid , .footer-Container  .container-fluid .row .col-6, .footer-Container .container-fluid h4{
  padding-left: 0px;
  padding-right: 0px;
}
.footer-Container h4{
  margin-left: -15px;
  margin-bottom: 19px;
}

.hero-Mobilebox {
  display: none;
}

.footer {
  height: 151px;
  width: 1124.98px;
}

.row-box {
  height: 282px;
  width: 282px;
  border: 1px solid #CCCCCC;
}

.table-box {
  width: 1124.98px;
  margin-top: 40px;
  /*margin-left: 15px;*/
  margin-bottom: 38px;
  padding: 15px !important;
}

.date-box {
  padding:62px;
  height: 144px;
  color: #DDDDDD;
  font-family: "Sephora Serif";
  font-size: 120px;
  font-style: italic;
  font-weight: 300;
  letter-spacing: 2px;
  line-height: 144px;
  text-align: center;
}
.day6-Font{
  padding:62px;
  height: 144px;
  /*width: 282px;*/
  color: #444444;
  font-family: "Sephora Serif";
  font-size: 120px;
  font-style: italic;
  font-weight: 300;
  letter-spacing: 2px;
  line-height: 144px;
  text-align: center;
}
.img-snowflakes {
  position: absolute;
  top: 97%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
}


.box-7 {
  margin-top: 71px;
  width: 242px;
}

#SurpriseBox6 {
  padding: 0;
}


#SurpriseBox6-Container{
  position: relative;
  width: 282px;
}

.hero-PopoutImage {
  width: 100%;
  height: 100%;
}


/*Modal CSS*/

.modal-content {
  border-radius: 0px;
}

.modal-lg {
  max-width: 900px;
}

.modal-body {
  padding: 0px;
}

.modal-bodyCotainer {
  padding: 0px;
  height: 450px;
}

.modal-textContainer {
  margin-top: 24px;
  margin-bottom: 24px;
  width: 344px;
  padding-left: 0px;
  padding-right: 0px;
}

.close {
  position: absolute;
  top: 8px;
  right: 22px;
  z-index: 50;
  font-size: 2.3em;
  font-weight: 100;
}

.modal-divider {
  box-sizing: border-box;
  height: 2px;
  width: 344px;
  border: 1px solid #CCCCCC;
  margin-top: 14px;
  margin-bottom: 16px;
}

.modal-text {
  font-family: 'Avalon';
  font-size: 13px;
  font-weight: 300;
  line-height: 17px;
  width: 334px;
}

.form-control {
  font-family: 'Avalon';
  font-size: 16px;
  font-weight: 300;
  line-height: 19px;
  height: 40px;
  width: 118.82px !important;
  border-radius: 0px;
  color: #000000;
  border: 1px solid #999999;
}

.input-group {
  width: 270px;
}

.modal-footerText {
  color: #999999;
  font-family: 'Avalon';
  font-size: 11px;
  font-weight: 300;
  line-height: 14px;
  margin-top: 30px;
  margin-left: auto !important;
  width: 351px;
}

.modal-H1 {
  margin-bottom: 10px;
}

.modal-RedeemContainer {
  margin-top: 25px;
  margin-bottom: 25px;
}

.form-control:disabled, .form-control[readonly] {
  background-color: white;
  opacity: 1;
}

.input-group {
  margin-bottom: 30px;
}


/*FOR MODAL -  APPLY BUTTON*/

.btn {
  height: 40px;
  width: 151.39px;
  background-color: #000000;
  color: #FFFFFF;
  font-family: 'Avalon';
  font-size: 16px;
  font-weight: bold;
  line-height: 19px;
  text-align: center;
  border-radius: 0px;
  box-shadow: 0 0 1px #ccc;
  -webkit-transition-duration: 0.5s;
  -webkit-transition-timing-function: linear;
  box-shadow: 0px 0 0 #31708f inset;
}

.btn:hover {
  /*box-shadow:100px 0 0 #31708f inset;*/
  opacity: 0.8;
}
.popOut-confetti-onChange-xs{
  width: 100%;
  margin-left: 0px !important;
  margin-right: 0px !important;
  position: absolute;
  top: 0%;
  height: 100%;
  left: 0;
  transform: translate(0%, 0%);
}

.onFocus-tarte-box{
  opacity: 100;
}

.popOut-Container{
  width: 450px;
}

.popOut-Image{
  margin: 0 auto;
  width: 290px;
  margin-top: 80px;
}
.popOut-confetti{
  width: 450px;
  margin-left: 0px !important;
  margin-right: 0px !important;
  position: absolute;
  top: 0;
  /* left: 4%; */
  height: 100%;
  transform: translate(0%, 0%);
}
@media screen and (max-width: 980px) {

  .hero-Image {
    height: 100%;
    width: 600px;
  }
  .bodyContainer{
    width: 600px;
    margin: 0 auto;
  }
  .bodyContainer .container {
    padding: 0px;
    max-width: 600px;
  }
  .tarte-box {
    height: 60px;
    width: 60px;
    margin-top: 45px;
  }
  .row-box{
    height: 150px;
    /* width: 100%; */
  }
  .table-box{
    margin-top: 6px;
  }
  .date-box{
    font-size: 70px;
    padding: 0px;
  }
  .day6-Font {
    font-size: 70px;
    padding: 0px;
  }
  .footer-Container h4 {
    margin-left: 0px;
  }
  .footer-Container .row {
    margin-left: 0px;
    margin-right: 0px;
  }
  #SurpriseBox6-Container{
    width: 100%;
  }
  .img-snowflakes{
    width: 100%;
    position: absolute;
    top: 0;
    left: 7px;
    transform: translate(0%, 0%);
  }
  /*Modal Mobile*/

  .modal-dialog {

    /*height: 850px;*/
    padding: 12px;
    margin: 0 auto;
  }
  .modal-lg{

  }
  h1{
    font-size: 34px;
    font-weight: 300;
    line-height: 41px;
  }
  .modal-textContainer{
    margin-top: 15px;
  }
  .modal-bodyCotainer {
    height: 100%;
  }
  .modal-content {
    height: auto;
    min-height: 100%;
    border-radius: 0;
    width: 100%;
    margin: 0 auto;
  }
  #popOut-Container{
    width: 100%;
  }
  #popOut-Container{
    position: relative;
    width: 100%;

  }
  .popOut-column{
    width: 353px;
    height:353px;
  }
  .popOut-Image {
    height: 225.32px;
    width: 225.32px;
    margin: 0 auto;
    margin-top: 115.84px;
  }
  .popOut-confetti {
    height: 457px;
    width: 410px;
    margin-left: 0px !important;
    margin-right: 0px !important;
    position: absolute;
    top: -115.84px;
    left: -1px;
    transform: translate(0%, 0%);
  }
  .popOut-confetti-onChange{
    width: 352px;
    margin-left: 0px !important;
    margin-right: 0px !important;
    position: absolute;
    top: 22%;
    left: 5%;
    transform: translate(0%, 0%);
  }


  .close {
    position: absolute;
    top: 0;
    right: 19px;
  }
  .modal-footerText {
    width: 304px;
  }
  .modal-divider {
    height: 2px;
    width: 344px;
  }
  .modal-text {
    width: 311px;
    margin-left: auto;
    margin-right: auto;
  }
  }/*end of 980 viewport*/
  @media only screen and (max-width: 480px)   {
    body {
      padding-top: 0px;
    }
    .bodyContainer{
      width: 375px;
      margin: 0 auto;
      padding: 11px;
    }
    .bodyContainer .container{

      padding-left: 0px;
      padding-right: 0px;
    }

    .hero-Image {
      height: 126px !important;
      width: 100% !important;
    }
    .hero-ImageContainer {
      width: 353px;
      padding-left: 0px;
      padding-right: 0px;
      margin-left: 0px;
    }
    .footer-Container {
      height: 151px;
      width: 1124.98px;
    }
    .date-box {
      height: 112.98px;
      width: 100%;
      opacity: 0.35;
      margin-top: 47px;
      line-height: 84px;
      font-size: 70px;
      padding: 0px
    }
    .row-box {
      height: 177px;
      width: 100%;
      padding: 0;
    }
    .container .table-box {
      padding: 11px;
    }
    .table-box {
      margin-left: 0px;
      margin-bottom: 0px;
      width: 353px;
      margin-top: 0px;
    }
    .footer-Container{
      width: 353px;
    }
    .container .footer-Container{
      padding: 11px;
    }
    .footer-Container .container-fluid .row .col-6 p {
      margin-left: 0px;
      font-size: 11px;
      font-weight: 300;
      line-height: 15px;
      text-align: justify;
      width: 353px;
    }
    .footer-Container .disappear {
      display: none;
    }
    .footer-Container h4{
      font-size: 11px;
      font-weight: bold;
      line-height: 15px;
      margin-left: -15px;
    }
    /*Modal Mobile*/

    .modal-dialog {

      /*height: 850px;*/
      padding: 12px;
      margin: 0 auto;
    }
    h1{
      font-size: 34px;
      font-weight: 300;
      line-height: 41px;
    }
    .modal-textContainer{
      margin-top: 15px;
    }
    .modal-bodyCotainer {
      height: 100%;
    }
    .modal-content {
      height: auto;
      min-height: 100%;
      border-radius: 0;
      width: 353px;
      margin: 0 auto;
    }
    #popOut-Container{
      width: 100%;
    }
    #popOut-Container{
      position: relative;
      width: 353px;

    }
    .popOut-column{
      width: 353px;
      height:353px;
    }
    .popOut-Image {
      height: 225.32px;
      width: 225.32px;
      margin: 0 auto;
      margin-top: 62.59px;
    }
    .popOut-confetti {
      height: 353px;
      width: 352px;
      margin-left: 0px !important;
      margin-right: 0px !important;
      position: absolute;
      top: -28%;
      left: -1px;
      transform: translate(0%, 0%);
    }
    .popOut-confetti-onChange{
      width: 352px;
      margin-left: 0px !important;
      margin-right: 0px !important;
      position: absolute;
      top: 22%;
      left: 5%;
      transform: translate(0%, 0%);
    }


    .close {
      position: absolute;
      top: -353px;
      right: 27px;
    }
    .modal-footerText {
      width: 304px;
    }
    .modal-divider {
      height: 2px;
      width: 344px;
    }
    .modal-text {
      width: 311px;
      margin-left: auto;
      margin-right: auto;
    }
    /*GRIDS*/
    #table-boxLastRow {
      display: none;
    }
    .hero-Mobilebox {
      height: 353px;
      width: 100%;
      border: 1px solid #CCCCCC;
      margin-left: 0px;
      margin-bottom: 0px;
      margin-top: 10px;
      display: block;
    }
    .hero-Mobilebox #SurpriseBox6-Container .day6-Font{
      margin-top: 125.08px;
      line-height: 84px;
      font-size: 150px;
      padding: 0px
    }
    .hero-Mobilebox #SurpriseBox6-Container  .img-snowflakes {
      width: 340px;
      height: 353px;
      position: absolute;
      top: -90%;
      left: 54%;
      transform: translate(-50%, 0%);
    }

    .day6-Font{
      margin-top: 47px;
      line-height: 84px;
      font-size: 70px;
      padding: 0px
    }
    .img-snowflakes {
      width: 171px;
      position: absolute;
      top: -43px;
      left: 11px;
      transform: translate(0%, 0%);
    }
    .tarte-box{
      height: 112.98px;
      width: 112.98px;
      margin-top: 31.01px;
    }
  }


  /*End for mobile devices*/
